/* Make main section column equal height regardless of content */
/* code adapted from https://www.w3schools.com/howto/howto_css_equal_height.asp */
.col-container {
    display: flex;
    width: 100%;
}
.col1 {
    flex: 1;
}

.col2 {
    flex: 4;
}

a {
    color: white;
}

/* Responsive layout - makes a one column layout instead of a two-column layout */
/* code adapted from https://www.w3schools.com/css/css3_flexbox_responsive.asp */
@media (max-width: 800px) {
  .col-container {
    flex-direction: column;
  }
}