body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

.logo {
    font-size: xx-large;
}

.my-nav {
    display: flex;
    justify-content: center;
}

.my-section-1 {
    display: flex;
    justify-content: center;
    padding: 200px 0px 100px 0px;
}

.my-para {
    padding: 0px 50px 100px 50px;
    font-size: large;
}

.my-section-2 {
    padding-bottom: 150px;
}

.card {
    border: 2px solid white;
}

a {
    color: white;
}

p i {
    color: gold;
}