<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" 
        integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA==" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css" type="text/css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/style.css" type="text/css">
    <title>Keep a Record</title>
</head>
<body class="black">
    <!-- Navbar -->
    <header>
        <nav class="black">
            <div class="nav-wrapper container">
                <div class="my-nav">
                    <ul>
                        {% if session.user %}
                            <li><a href="{{ url_for('my_list') }}">My List</a></li>
                            <li><a href="{{ url_for('home') }}" class="logo">KaR</a></li>
                            <li><a href="{{ url_for('logout') }}">Log Out</a></li>
                        {% else %}
                            <li><a href="{{ url_for('home') }}">Home</a></li>
                            <li><a href="{{ url_for('home') }}" class="logo">KaR</a></li>
                            <li><a href="{{ url_for('login') }}">Log In</a></li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <section>
        <!-- flash messages -->
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                    <div class="row flashes">
                        <h4 class="white-text center-align">{{ message }}</h4>
                    </div>
                {% endfor %}
            {% endif %}
        {% endwith %}
    </section>

    <main>
        {% block content %}
        
        {% endblock %}
    </main>

    <footer class="page-footer black">
        <div class="container">
            <div class="footer-copyright black">
                <div class="container white-text">
                    © 2021 For Educational Purposes Only
                    <a target="_blank" href="https://github.com/ShaunWard"  aria-label="Github link" class="white-text right">
                        <i class="fab fa-github-square"></i>
                    </a>
                </div>
            </div>
        </div>
    </footer>

    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="/static/js/script.js"></script>
    {% block scripts %}
    {% endblock %}
</body>
</html>