{% extends 'base.html' %}
{% block content %}

    <section class="container">
        <div class="my-section-1">
            <h2 class="white-text">Edit what you have watched</h2>
        </div>

        <div class="row card-panel black ">
        <form class="col s12" method="POST" action="{{ url_for ('edit_entry', entry_id=entry._id) }}">
            <!-- Title input -->
            <div class="row">
                <div class="input-field col s12">
                    <i class="material-icons prefix white-text">mode_edit</i>
                    <input id="programme_name" name="programme_name" minlength="5" maxlength="50"
                        type="text" class="validate white-text" value="{{ entry.programme_name }}" required>
                    <label for="programme_name">Title</label>
                </div>
            </div>
            <!-- Streaming Service -->
            <div class="row">
                <div class="input-field col s12">
                    <i class="material-icons prefix white-text">live_tv</i>
                    <input id="streaming_service" name="streaming_service" minlength="1" maxlength="50"
                        type="text" class="validate white-text" value="{{ entry.streaming_service }}" required>
                    <label for="streaming_service">Streaming Service</label>
                </div>
            </div>
            <!-- task description -->
            <div class="row">
                <div class="input-field col s12">
                    <i class="material-icons prefix white-text">format_align_left</i>
                    <textarea id="comment" name="comment" minlength="5"
                        maxlength="50" class="validate white-text" required>
                    {{- entry.comment -}}
                    </textarea>
                    <label for="comment">Review/Notes</label>
                </div>
            </div>
            <!-- Rating -->
            <div class="row">
                <div class="input-field col s4">
                    <i class="material-icons prefix white-text">star</i>
                    <input id="rating" name="rating" minlength="1" maxlength="1"
                        type="text" pattern="^[1-5]{1}$" class="validate white-text"
                        value="{{ entry.rating }}" required>
                    <label for="rating">Rating 1-5</label>
                </div>
            </div>
            <!-- submit button -->
            <div class="row">
                <div class="col s12 center-align">
                    <button type="submit" class="btn-large white black-text">
                        Complete Edit <i class="material-icons right">add_box</i>
                    </button>
                </div>
            </div>
        </form>
    </div>

    </section>

{% endblock %}