{% extends 'base.html' %}
{% block content %}

    <section class="container">
                <div class="my-section-1">
                    <h2 class="white-text">Keep A Record</h2>
                </div>
                <div>
                    <p class="my-para center white-text">Build a list of the Programs and Movies you have watched on your favourite streaming services, 
                        rate them and write a review. Never forget what you have watched on Netflix again!</p>
                </div>
            </section>
        
            <section class="container">
                <div class="row my-section-2">
                    <div class="col s12 l4">
                        <div class="card black">
                            <div class="card-content white-text">
                                <span class="card-title">Star Wars</span>
                                <h6>On Netflix</h6>
                                <p>Here's a comment about it</p>
                                <p>Rating:</p>
                                <p><i class="material-icons">star</i><i class="material-icons">star</i><i class="material-icons">star</i></p>
                            </div>
                        </div>
                    </div>
                    <div class="col s12 l4">
                        <div class="card black">
                            <div class="card-content white-text">
                                <span class="card-title">Lord of the Rings</span>
                                <h6>On Amazon</h6>
                                <p>Here's a comment about it</p>
                                <p>Rating:</p>
                                <p><i class="material-icons">star</i><i class="material-icons">star</i><i class="material-icons">star</i><i class="material-icons">star</i><i class="material-icons">star</i></p>
                            </div>
                        </div>
                    </div>
                    <div class="col s12 l4">
                        <div class="card black">
                            <div class="card-content white-text">
                                <span class="card-title">Shawshank Redemption</span>
                                <h6>On Disney</h6>
                                <p>Here's a comment about it</p>
                                <p>Rating:</p>
                                <p><i class="material-icons">star</i><i class="material-icons">star</i><i class="material-icons">star</i><i class="material-icons">star</i></p>
                            </div>
                        </div>
                    </div>
                    <div class="col s12 l4">
                        <div class="card black">
                            <div class="card-content white-text">
                                <span class="card-title">A TV Show</span>
                                <h6>On NowTV</h6>
                                <p>Here's a comment about it</p>
                                <p>Rating:</p>
                                <p><i class="material-icons">star</i><i class="material-icons">star</i><i class="material-icons">star</i><i class="material-icons">star</i></p>
                            </div>
                        </div>
                    </div>
                    <div class="col s12 l4">
                        <div class="card black">
                            <div class="card-content white-text">
                                <span class="card-title">A Film</span>
                                <h6>On Netflix</h6>
                                <p>Here's a comment about it</p>
                                <p>Rating:</p>
                                <p><i class="material-icons">star</i><i class="material-icons">star</i><i class="material-icons">star</i></p>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            
{% endblock %}