{% extends 'base.html' %}
{% block content %}

    <section class="container">
        <div class="my-section-1">
            <h2 class="white-text center-align">{{ username }}'s List</h2>
        </div>
        <div class="center">
            <button class="btn">Add To List</button>
        </div>
    </section>
        
    <section class="container">
        <div class="row my-section-2">
            {% for entry in entries %}
                <div class="col s12 l4">
                    <div class="card black">
                        <div class="card-content white-text">
                            <span class="card-title">{{ entry.programme_name }}</span>
                            <h6>{{ entry.streaming_service }}</h6>
                            <p>{{ entry.comment }}</p>
                            <p>Rating: {{ entry.rating }}</p>
                            <p class="stars"><i class="material-icons">star</i><i class="material-icons">star</i><i class="material-icons">star</i>
                            </p>
                            <button class="btn">Edit</button>
                            <button class="btn red">Delete</button>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </section>

{% endblock %}